/*
    This file contains a list of static less variables,
    that should be used throughout the application
*/

// Full site min width
@baseWidth: 320;
// Full min width without left&right margins
@contentWidth: 280;

// Colours

// Blue
@corporateBlue:     #024f9d;
@ultralightBlue:    #ebf1f4;
@lightBlue:         #d1dee4;
@blue:              #9ebbc8;
// Orange
@corporateOrange:   #f56b00;
@lightOrange:       #ff9519;
@lightestOrange:    #fffbcc;
@mediumOrange:      #f99700;
// Green
@corporateGreen:    #5cb527;
@lightGreen:        #83d850;

@beige:        #ffffcc;

// Fonts
@black:             #000;
@white:             #fff;
@darkGrey:          #404040;
@grey:              #909090;
@mediumGrey:        #bbb;
@concreteGrey:      #ddd;
@lightGrey:         #e0e0e0;
@softGrey:          #ececec;
@lightestGrey:      #f5f5f5;
@blue:              #406e87;
@lightblue:         #d1dee4;


// Fonts
@fontCondensed: 'Open Sans Condensed', sans-serif;
@fontMain: Arial, sans-serif;
@fontIcons: 'easyhome-mobile';


// Icons
@iconLogout: "\e600";
@iconAmount: "\e601";
@iconArrowDown: "\e602";
@iconArrowUp: "\e603";
@iconCalendar: "\e604";
@iconCalendarMonth: "\e605";
@iconCalendarYear: "\e606";
@iconCart: "\e607";
@iconCity: "\e608";
@iconLogo: "\e609";

@iconEmail: "\e60a";
@iconProvince: "\e60b";
@iconFace: "\e60c";
@iconFalse: "\e60d";
@iconFemale: "\e60e";
@iconHouseOwn: "\e60f";

@iconHouseRent: "\e610";
@iconMale: "\e611";
@iconPassword: "\e612";
@iconPhone: "\e613";
@iconPostalCode: "\e614";
@iconRelationship: "\e615";
@iconSin: "\e616";
@iconStreetAddress: "\e617";
@iconSuiteUnit: "\e618";
@iconTrue: "\e619";

@iconPhotoID: "\e61a";
@iconInfo: "\e61b";
@iconSearch: "\e61c";
@iconCellPhone: "\e61d";
@iconOldPhone: "\e61e";
@iconWorkPhone: "\e61f";

@iconHomePhone: "\e620";
@iconNumber: "\e621";
@iconIncomeSource: "\e622";
@iconEmployer: "\e623";
@iconPosition: "\e624";
@iconAdditionalIncome: "\e625";
@iconArrowRight: "\e626";
@iconLock: "\e627";
@iconError: "\e628";
@iconReset: "\e629";

@iconClose: "\e62a";
@iconClear: "\e62b";
@iconUndo: "\e62c";
@iconUndoText: "\e62d";
@iconHome: "\e62e";
@iconWarning: "\e62f";

@iconBullhorn: "\e630";
@iconGears: "\e631";
@iconTC: "\e632";
@iconRefresh: "\e633";
@iconThumbsDown: "\e634";
@iconThumbsUp: "\e635";