<header>
    <label class="label">easyhome</label>
    <label class="title">Order automation tool</label>
</header>
<label class="field text name">
    <input type="text" name="j_username" placeholder="Enter your username">
</label>
<label class="field text password">
    <input type="password" name="j_password" placeholder="Enter your password" autocomplete="off">
</label>
<div class="salesperson-box">
    <label class="field text name js-salesperson">
        <input type="text" name="j_salesperson" placeholder="Enter salesperson name">
    </label>
    <div class="salesperson-names js-salesperson-names"></div>
    <div class="clear js-clear-salesperson"></div>
</div>
<button class="button submitBtn" type="submit" disabled>Submit</button>