<header class="loginHeader">
    <h2>Please enter your username and password</h2>
    <span class="close"><span>
</header>
<div class="fieldset column">
    <label class="field row text name">
        <input type="text" name="j_username" placeholder="Enter your username">
    </label>
    <label class="field row text password">
        <input type="password" name="j_password" placeholder="Enter your password" autocomplete="off">
    </label>
    <div class="salesperson-box">
        <label class="field text name js-salesperson">
            <input type="text" name="j_salesperson" placeholder="Enter salesperson name">
        </label>
        <div class="salesperson-names js-salesperson-names"></div>
        <div class="clear js-clear-salesperson"></div>
    </div>
</div>

<footer>
    <button class="button submitBtn" type="submit" disabled>Submit</button>
</footer>