<span class="legend">Reference <span class="referenceId"></span></span>
<div class="fieldset row">
    <label class="row_1_2 field text name">
        <span class="msg"></span>
        <input type="text" name="refFirstName" placeholder="First name">
    </label>
    <label class="row_1_2 field text name">
        <span class="msg"></span>
        <input type="text" name="refLastName" placeholder="Last name">
    </label>
</div>
<div class="fieldset row">
    <label class="row_1_2 field text relationship">
        <span class="msg"></span>
        <input type="text" name="refRelationship" placeholder="Relationship">
    </label>
    <label class="row_1_2 field text phone">
        <span class="msg"></span>
        <input type="tel" name="refPhoneNumber" placeholder="Phone">
    </label>
</div>